:root {
  --bg-primary: #f4f4f8;
  --accent-color: #dbdbe0;
  --text-primary: #2c3e50;
  --text-secondary: #3498db;
  --accent-blue: #3498db;
  --accent-green: #2ecc71;
  --accent-red: #e74c3c;
  --border-color: #d5dadf;
  --card-bg: white;
  --even-rows: rgba(52, 152, 219, 0.1);

  --o-red: rgba(231, 76, 60, 0.1);
  --o-blue: rgba(52, 152, 219, 0.05);
  --o-green: rgba(46, 204, 113, 0.2);
}

.dark {
  --bg-primary: #272727;
  --accent-color: #353535;
  --text-primary: #e0e0e0;
  --text-secondary: #dde6ec;
  --border-color: #404040;
  --card-bg: #363636;

  --accent-blue: #224a64;
  --accent-green: #27b160;
  --accent-red: #9e2f23;

  --even-rows: rgba(99, 99, 99, 0.1);

  --o-red: rgba(153, 51, 40, 0.1);
  --o-blue: rgba(37, 108, 155, 0.05);
  --o-green: rgba(35, 150, 83, 0.2);
}
