footer {
  background-color: var(--accent-color);
  height: 20vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .credit {
    a {
      color: var(--text-primary);
    }
  }
}
