.prices-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;

  thead {
    background-color: var(--accent-blue);
    color: white;
    font-size: 0.8rem;
    th {
      &:nth-child(1) {
        // tid
        width: 20%;
      }
      &:nth-child(2) {
        // pris
        width: 20%;
      }
      &:nth-child(3) {
        // level
        width: 60%;
      }
    }
  }
  th,
  td {
    padding: 0.1rem;
    text-align: center;
    border: 1px solid var(--border-color);
  }
  .price-bar {
    height: 12px;
    max-width: 100%;
    min-width: 5%;
    transition: width 0.5s ease-in-out;
    border-radius: 4px;
  }

  tbody {
    tr {
      transition: background-color 0.3s ease;
      &:nth-child(even) {
        background-color: var(--even-rows);
      }
      &:hover {
        background-color: var(--o-blue);
      }
    }
  }

  .cheapest-hour {
    background-color: var(--o-green) !important;
  }

  .expensive-hour {
    background-color: var(--o-red) !important;
  }
  .current-hour {
    position: relative;
    border-left: 4px solid var(--text-secondary);
    td {
      font-weight: bold;
    }
  }
  .current-indicator {
    display: inline-block;
    background-color: var(--accent-blue);
    color: white;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: normal;
    margin-right: 0.2rem;
    width: fit-content;
  }
}

@media (min-width: 700px) {
  .prices-table {
    font-size: 1rem;
    thead {
      font-size: 1rem;
    }
  }
}
